.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .login-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    text-align: center;
    border-radius: 10px !important;

    border: 1px solid var(--stroke-soft-200, #E1E4EA)
  }
  .login-logo {
    display: block;
    margin: 0 auto 25px;
    max-width: 150px; /* You can adjust the size as per your preference */
   
  }
  .forgot-password {
    text-align: right;
    margin: 12px auto 12px;
  }
  input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
.MuiOutlinedInput-root {
    border-radius: 10px !important;
    height: 50px !important;
  }

  
  .login-button {
    padding: 10px;
    width: 100%;
    background-color: #1958E8 !important;
    color: #fff;
    border: none;
    border-radius: 10px !important;
    cursor: pointer;
  }
  .login-button:hover {
    background-color: #0C0C0C !important; /* Change button color to black on hover */
  }